/* App.css */
#root {
  margin: 30px;
}

.navbar {
  background-color: #667e8d;
}

.menu {
  padding: 0 10px;
  border: 1px solid rgb(226, 229, 239);
  background-color: #d2d9e6;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu:hover {
  background-color: #667e8d;
  color: d2d9e6;
}
